<ion-view class="stable trip-detail">

    <ion-nav-bar class="dark-bg tripdetail-header">
        <ion-nav-back-button class="dark-bg">
        </ion-nav-back-button>



        <ion-nav-title>
            <span>{{trip.name}} trip</span>
        </ion-nav-title>


        <ion-nav-buttons side="right">
            <button class="button button-icon dark-bg ion-gear-a" menu-toggle="right" ng-if="false">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="dark-bg poi-detail trip-detail-content" overflow-scroll="false">

        <ion-list class="poi-list" ng-repeat="poi in trip.poiList">
            <div class="item item-text-wrap item-poi" ng-click="" >

                <div class="image" ng-click="poiDetailShow(poi.id)">
                    <img src="img/image-not-avail.jpg" err-src="img/image-not-avail.jpg"
                         ion-img-cache ng-src="{{baseURL+poiDataList[poi.id].image_medium}}">

                    <small class="poi-desc-small">
                        {{item.headline}}
                    </small>

                </div>


                <div class="poi-add-row">
                    <div class="poi-add">
                        <img class="poi-add-button"
                             ng-src="{{inTripList(poi.id)?
                                              'img/add-poi-galka.png' : 'img/add-poi-plus.png'}}"
                             ng-click="toggleAddPoiToTrip(poi.id);$event.stopPropagation()"
                        >
                    </div>
                </div>




                <div class="poi-desc-row">
                    <div class="poi-name">{{poiDataList[poi.id].name}} <span class="seen" ng-if="inSeen(poi.id)">seen</span></div>
                    <div class="poi-type">{{poiDataList[poi.id].type_name}}
                        <span class="superpink-color coupon-tag" ng-if="poiDataList[poi.id].partner_id>0">Special Offer <i class="ion-ios-pricetags"></i></span></div>
                </div>

            </div>


        </ion-list>
        <br><br><br><br><br><br><br>

    </ion-content>

    <div class="bar bar-footer dark-bg ">
        <div class="bar bar-footer dark-bg full-button-footer ">

            <a href="" ng-click="startTrip(trip); " menu-close ng-click="" class="full-width">
                <button class=" button button-full full-width"
                >Start this trip
                </button>
            </a>

        </div>

    </div>
</ion-view>



